{% extends 'base/layout.html' %}
{% load static %}
{% block title %}
My Profile
{% endblock %}
{% block content %}

<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
        {% if form.errors %}
            <div class="alert-warning alert alert-dismissible fade show" role="alert">
                Your Form Has Error
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      {% endif %}
      <div class="modal-header p-5 pb-4 border-bottom-0 justify-content-center">
        <h1 class="fw-bold mb-0 fs-2 ">Update Your Information</h1>
      </div>

      <div class="modal-body p-5 pt-0">
        <form  method="POST" action="{% url 'accounts:my_profile' %}">
          {% csrf_token %}

          <div class="form-floating mb-3">
            {{ form.username.as_widget }}
            <label for="{{ form.username.id_for_label }}">Username</label>
          </div>
          <div class="form-floating mb-3">
            {{ form.email.as_widget }}
            <label for="{{ form.email.id_for_label }}">Email Address</label>
          </div>
          
          </div>
          <a href="{% url 'accounts:change_password' %}" class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-dark">Update Password</a>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br><br><br>
  
{% endblock %}