{% extends 'base/layout.html' %}
{% block title %}
Friends
{% endblock %}

{% block content %}
<br><br>
    {% if persons %}
        {% for person in persons %}
            <div class="card mb-3" style="max-width: 540px; max-height: 100px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ person.image_field.url }}" class="img-fluid rounded-circle" alt="profile_picture" style="width: 60px; height: 60px;">
                    </div>
                    
                <div class="col-md-6">
                    <div class="card-body">
                    <h5 class="card-title">{{ person.user.username }}</h5>
                    
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}