{% extends 'base/layout.html' %}
{% block title %}
Update List
{% endblock %}

{% block content %}
<div class="container text-center col-md-6 offset-md-3">
    {% if user.is_authenticated %}
        <br>
        <h1> Add List Name</h1>
        <hr>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.list_name }}
            </div>
            <br><br>
                <button class="btn btn-primary" type="submit">Update List </button>
        </form>
        <br><br><br>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
        </span>
    {% else %}
        <h1>Please Sign In</h1>
    {% endif %}
</div>
{% endblock %}
