{% for wish in wish_list %}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ wish.list_name }}</h5>
                <small class="text-body-secondary">{{ wish.created_at }}</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <!-- <div class="form-check form-switch">
                <input class="form-check-input {% if wish.is_active %}bg-success{% else %}bg-danger{% endif %}" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if wish.is_active %}checked{% endif %}>
            </div>                 -->
            </a>
    </div>
    <br>
{% endfor %}
<br>
