{% extends 'base/layout.html' %}
{% load static %}
{% block title %}
Password Reset Complete
{% endblock %}
{% block content %}

<div class="modal modal-sheet position-static d-block p-3 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0 justify-content-center">
            <h3 class="fw-bold mb-0 fs-2 ">Password reset complete</h3>
        </div>
            <p>Your password has been set. You may go ahead and log in now.</p>
            
            <a href="{% url 'accounts:login' %}">Log In</a>
            <br>
        </div>
    </div>
</div>
{% endblock %}