{% extends 'base/layout.html' %}
{% load static %}
{% block title %}
Reset my Password
{% endblock %}
{% block content %}

<div class="container text-center col-md-6 offset-md-3">
    <div class="modal modal-sheet position-static d-block p-3 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0 justify-content-center">
                <h3 class="fw-bold mb-0 fs-2 ">Password reset sent</h3>
            </div>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}